<app-wait></app-wait>
<router-outlet></router-outlet>

<div class="authentication">
    <div class="card">
        <div class="body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header slideDown">
                        <div class="logo"><img src="assets/images/logo.png" alt="Nexa"></div>
                        <h1>{{ 'forgot_password_top_card' | translate }}</h1>
                        <ul class="list-unstyled l-social">
                            <li><a href="javascript:void(0);"><i class="zmdi zmdi-facebook-box"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="zmdi zmdi-linkedin-box"></i></a></li>                            
                            <li><a href="javascript:void(0);"><i class="zmdi zmdi-twitter"></i></a></li>
                        </ul>
                    </div>                        
                </div>                
                <form class="col-lg-12" id="sign_in" method="POST">
                    <h5 class="title">{{ 'forgot_password_form_title' | translate }}</h5>
                    <small class="msg">{{ 'forgot_password_form_descrip' | translate }}</small>
                    <div class="form-group form-float">
                            <div class="form-line">
                                <input type="email" class="form-control">
                                <label class="form-label">{{ 'forgot_password_form_input_email' | translate }}</label>
                            </div>
                        </div>
                </form>
                <div class="col-lg-12">
                    <a href="index.html" class="btn btn-raised btn-primary waves-effect">{{ 'forgot_password_form_button_reset' | translate }}</a>
                </div>
                <div class="col-lg-12 m-t-20">
                    <a href="/login" title="">{{ 'forgot_password_login' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</div>